html{
    background-color: rgba(0, 0, 0, 0);
}

#menu{
    width: 100vw;
    --wails-draggable:drag;
    cursor: move;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.mute-btn{
    background-color: transparent;
    cursor: pointer;
    width: fit-content;
}

.mute-icon{
    background-color: transparent;
}